// 此文件为uView的主题变量，这些变量目前只能通过uni.scss引入才有效，另外由于
// uni.scss中引入的样式会同时混入到全局样式文件和单独每一个页面的样式中，造成微信程序包太大，
// 故uni.scss只建议放scss变量名相关样式，其他的样式可以通过main.js或者App.vue引入

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-type-primary: #05ce97;
$u-type-primary-light: lighten($u-type-primary, 10%);
$u-type-primary-disabled: lighten($u-type-primary, 20%);
$u-type-primary-dark: darken($u-type-primary, 10%);
$u-type-primary-Bg: lighten($u-type-primary, 55%);

$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #ff717a;
$u-type-error-disabled: lighten($u-type-error, 20%);
$u-type-error-light: lighten($u-type-error, 10%);
$u-type-error-dark: darken($u-type-error, 10%);

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;

$ev-color-gray: #bfbfbf;
$ev-color-withe: #fff;
$ev-color-perpol: #765aff;
$ev-color-l-gray: #8e9298;

:export {
  name: 'scss';
  primary: $u-type-primary;
  primaryDark: $u-type-primary-dark;
  primaryDisabled: $u-type-primary-disabled;
  primaryLight: $u-type-primary-light;
  primaryBG: $u-type-primary-Bg;
  bgColor: $u-type-primary;

  info: $u-type-info;
  infoDark: $u-type-info-dark;
  infoDisabled: $u-type-info-disabled;
  infoLight: $u-type-info-light;

  warning: $u-type-warning;
  warningDark: $u-type-warning-dark;
  warningDisabled: $u-type-warning-disabled;
  warningLight: $u-type-warning-light;

  error: $u-type-error;
  errorDark: $u-type-error-dark;
  errorDisabled: $u-type-error-disabled;
  errorLight: $u-type-error-light;

  success: $u-type-success;
  successDark: $u-type-success-dark;
  successDisabled: $u-type-success-disabled;
  successLight: $u-type-success-light;

  mainColor: $u-main-color;
  contentColor: $u-content-color;
  tipsColor: $u-tips-color;
  lightColor: $u-light-color;
  borderColor: $u-border-color;
  bgColor: $u-bg-color;
}

.ev-c-gray {
  color: $ev-color-gray;
}
.ev-c-white {
  color: $ev-color-withe;
}
.ev-bgc-perpol {
  background-color: $ev-color-perpol;
}
.ev-c-perpol {
  color: $ev-color-perpol;
}
.ev-c-l-gray {
  color: $ev-color-l-gray;
}
.ev-c-black {
  color: $u-main-color;
}
